.home-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 20;
  background: white;
  border-bottom: 1px solid #e5e7eb;
}

.bottom-layout {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
}

.sidebar {
  width: 260px;
  height: calc(100vh - 60px);
  border-right: 1px solid #e5e7eb;
  position: sticky;
  top: 60px;
}

/* Page content section */
.home-container {
  overflow-y: auto;
  width: 100%;
  margin-left: 260px;
  font-size: 20px;
  padding: 25px;
  display: grid;
  gap: 10px;

}

.cards {
  height: 200px;
  width: 400px;
  display: grid;
  gap: 20px;


}

.card-main{
  width: 100%;
  display: flex;
  align-items: start;
  
  justify-content: space-evenly;
}